// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  --fredoka-medium: "Fredoka Medium";
  --main-color: #00b2aa;
  --titles: #ef6262;
  --accent-color: #6949ff;
  --backdrop-light: F0EDFF;
  --black: black;
  --white: white;

  --gray-1: #dadada;

  --yellow-1: #ffcc00;

  // Categories

  --animals: #ffa500;
  --foods: #32CD3;
  --flags: #00bfff;
}
